#bannerimage {
    width: 100%;
    background-image: url('../imagenes/banner.jpg');
    height: 50px;
    background-color: purple;
    background-position: center;
    background-size: cover;
  }



.container {
    max-width: 1100px;
}

header {
    background-image: url('../imagenes/fondo.jpg');
    background-size: cover;
    height: 650px;
    position: relative;
}

.tittle-color {
    color: rgb(0, 0, 0);
}

.tittle {
    color: rgb(221, 208, 14);
    font-size: 45px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    width: 110px;
}

#row-inicio {
    background-color: #bdbdc2;
}


.row {
    margin: 0;
}

#row-inicio img {
    border-radius: 50%;
}

img {
    width: 250px;
}

#row-definicion {
    background-image: url('../imagenes/fondo2.jpg');
    background-size: cover;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

#row-definicion img {
    border-radius: 50%;
    width: 300px;
}

#row-definicion p {
    font-size: 16px;
}

#row-tipos {
    background-color: #bdbdc2;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.circulo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

#row-beneficios {
    background-image: url('../imagenes/fondo3.jpg');
    background-size: cover;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

#row-beneficios img {
    border-radius: 50%;
    width: 300px;
}

#row-beneficios p {
    font-size: 21px;
}

#pie{
    width:100%;
    height: 100px;
    background-color:black;
    text-align: center;
    padding-top:8px;
    color:white;
    float: none;
    }

   

    @media(max-width:992px) {
        .navbar-nav {
            background-color: darkblue;
        }
    }